<div class="container schedule">
    <div class="row text-center">

        <div class="col-lg-3 col-lg-offset-1">
            <h2 class="block-title">Le atendemos</h2>
            <h3><a class="tel supersize-text">924 37 18 65</a></h3>
            <p class="tel supersize-text">Av. Constitución, 15D, 06800 Mérida, Badajoz</p>
        </div>

        <div class="col-lg-6">
            <h2 class="block-title">horarios</h2>
            <div class="container">
                <div class="col-lg-3">
                    <h3>Horario de invierno</h3>
                    <h4>De lunes a viernes</h4>

                    10:30 a 14:00

                    17:00 a 20:00

                    <h4>Sábados</h4>
                    10:30 a 13:30
                </div>
                <div class="col-lg-3">
                    <h3>Horario de verano</h3>
                    <h4>De lunes a viernes</h4>

                    10:30 a 14:00

                    17:30 a 20:30

                    <h4>Sábados</h4>

                    10:30 a 13:30
                </div>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>